@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: Montserrat;
}


@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translate(0, 5%)
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

.container{
    animation: transitionIn 1.5s;
}


.container {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-wrapper {
    width: 80vw;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}




.header-wrapper h2 {
    font-size: 1rem;
    text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.header-wrapper p {
    width: 50%;
    text-align: center;
    overflow: hidden;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Montserrat;
}

.primary-btn {
    margin: 10px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: 0;
    transition: all .2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
}

.primary-btn:hover{
    letter-spacing: 4px;
    opacity: 0.7;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
    
}

.header-wrapper .heading-wrapper h1 {
    font-size: 4rem;
    text-align: center;
    line-height: 20px;
    padding: 5px;
}


.basic-bio{
    font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1023px){
    .header-wrapper .heading-wrapper h1 {
        font-size: 2.5rem;
    }
    
}

@media (min-width: 390px) and (max-width: 767px){
    .header-wrapper .heading-wrapper h1 {
        font-size: 1.5rem;
        line-height: 10px;
    }
}

