.body{
    background: rgb(156, 150, 243);
  }
  
  .squareStyle{
    background: rgb(156, 150, 243);
    color: white;
      border: 1px solid rgb(139, 131, 245);
      font-size: 60px;
      font-weight: 900;
      cursor: pointer;
      outline: none;
      position: relative;
  }
  
  .btndiv{
    position: relative;
    align-items: center;
    text-align: center;
  }
  
  .btn{
    position: absolute;
    align-items: center;
    text-decoration: none;
    position: relative;
    align-items: center;
    padding: 10px 40px;
    border: 1px solid lightgreen;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(132, 230, 197);
  }
  
  .boardstyle{
      position: relative;
      top: 40px;
      border-style: none;
      border-radius:  10px;
      width: 350px;
      height: 350px;
      margin: 0 auto;
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  
  }
  
  .nextmove{
    position: relative;
    top: 120px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: rgb(156, 150, 243);
  
  }